@font-face {
    font-family: 'Gotham Medium';
    src: url('../font/GothamMedium.woff2') format('woff2'),
        url('../font/GothamMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../font/Gotham-Book.woff2') format('woff2'),
        url('../font/Gotham-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* 預設淺色 */
:root {
  --text: #111;
  --bg: #f5f5f5; /* Add light background for default */
}

/* 深色模式 */
[data-theme="dark"] {
  --text: #f5f5f5;
  --bg: #111; /* Add dark background for dark theme */
}

body {
  color: var(--text);
}

.navbar {
  background: var(--navbar-bg);
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Gotham Medium'
}

p,span,li,a {
    font-family: 'Gotham Book';
}

@media only screen and (max-width: 990px) {
  .logo {
    right: 20px;
    left: auto;
  }

  .navbar {
    background: var(--bg);
  }

  .nav2 {
    position: relative;
    right: auto;
    top: 0;
  }
}
