.section {
  width: 100%;
  height: 100vh;
  position: relative;
}

.upper {
  padding-top: 110px;
}

.upper h2 {
  font-size: 43px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.upper p {
  font-size: 14px;
  // color: black;
}

.upper p a {
  // color: black;
}

.lower .btn1 {
  background: #171a20;
  color: white;
  padding: 10px 40px;
  border-radius: 30px;
  font-size: 12px;
  width: 250px;
  display: inline-block;
  margin: 0 8px;
  text-align: center;
}

.lower .btn2 {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 10px 40px;
  border-radius: 30px;
  font-size: 12px;
  width: 250px;
  display: inline-block;
  margin: 0 8px;
  text-align: center;
}

.lower .arrow {
  margin-top: 15px;
  display: inline-block;
}

.lower {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

.fp-table {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
